In [7]:
qui: {
set more off
use data/gruber_reg.dta, clear
keep if year >=1978 & year <=1982

ge mw_2040 = (female==1 & marst==1 & age <=40)
ge sw_2040 = (marst == 6 & female==1 & age <=40) 
ge mm_2040 = (marst ==1 & female==0 & age <=40)

cap drop treat
ge treat = mw_2040
replace treat =. if sw_2040 ==1 | mm_2040==1
    
ge marst_sex = marst*sex 

    
ge after = (year >1980)
ge log_hourly_wage = log(hourly_wage)

ge treat_after = treat*after 
ge treat_experimental = treat*experimental
ge experimental_after = experimental*after
ge ddd = treat*experimental*after

global my_dd treat treat_after treat_experimental  experimental_after ddd

ge year_state = state*year    
}

ta year

. ta year

survey year |      Freq.     Percent        Cum.
------------+-----------------------------------
       1978 |     44,745       22.89       22.89
       1979 |     45,543       23.29       46.18
       1981 |     55,404       28.34       74.52
       1982 |     49,815       25.48      100.00
------------+-----------------------------------
      Total |    195,507      100.00

In [8]:

#delimit ;
keep log_hourly_wage educ_yrs experience experience_sq marst sex marst_sex non_white  ind  
 treat treat_after treat_experimental  experimental_after ddd
year_state statefip year experimental treat 
;
#delimit cr 

keep if ddd !=.

merge m:1 statefip using data/state_coordinate.dta 
keep if _merge ==3 
drop _merge 

save data/moran.dta, replace 
ta year

(55,939 observations deleted)


    Result                           # of obs.
    -----------------------------------------
    not matched                            11
        from master                         0  (_merge==1)
        from using                         11  (_merge==2)

    matched                           139,568  (_merge==3)
    -----------------------------------------

(11 observations deleted)


file data/moran.dta saved


survey year |      Freq.     Percent        Cum.
------------+-----------------------------------
       1978 |     31,964       22.90       22.90
       1979 |     32,290       23.14       46.04
       1981 |     39,563       28.35       74.38
       1982 |     35,751       25.62      100.00
------------+-----------------------------------
      Total |    139,568      100.00